body{
    background-color:#FFEFD5;
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

.cabecera{
    
}
.cabecera h1{
    font-family: 'Oswald',sans-serif;
    font-size: 80px;
    color:black;
    text-align: center;
}
.logo{
    width: 160px;
}

#menu{
    background-color: rgb(44, 44, 44)
}

#menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: white;
    font-size: 1.2em;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #42B881;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-r{
    float: right;
}

.seccion1,
.seccion2,
.seccion3{
        
    font-size: 1.5em;
    color: black;
    width: 100%;
}
.seccion1 h1{
    text-align: center;
}

.seccion1 p,
.seccion2 p,
.seccion3 p{
    padding: 0 30px;
}

.fotos-s1,
.fotos-s2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fotos-paises{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pais{
    padding: 20px;
    width: 30%;
   
}

.pais img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.fotos-paises p{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
}

.fotos-paises a{
    text-decoration: none;
}
.fotos-paises a:hover{
    color: lightcoral;
}

.fotos-comidas{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comida{
    padding: 20px;
    width: 30%;
   
}

.comida img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.fotos-comidas p{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
}

.fotos-comidas a{
    text-decoration: none;
}
.fotos-comidas a:hover{
    color: lightcoral;
}

footer{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    background: grey;
}


.selected-li{
    background-color:#42B881 ;

}

.foto-inicio1{
    padding: 20px;
    width: 30%;
} 

.c-cabecera{
    font-family: 'Oswald',sans-serif;
    font-size: 60px;
    color:Black;
    text-align: center;
}

.t-rsss{
    display: flex;
    justify-content: center;
    text-align: center;
}

.t-rsss td{
    padding: 0 0 40px 0;
}

.t-rsss tr td{
    
    vertical-align: middle;
}


.fotosrrss{
    width: 300px;
    height: 300px;
}